<!DOCTYPE html>
<html>
<head>
    <title>Tank Status</title>
    <script src="/static/script.js" defer></script>
</head>
<body>
    <h1>Tank Status</h1>

    <h2>Brookside</h2>
         <strong>Current volume:</strong> <span id="brookside_current_gallons">Unknown</span> gallons<br>
         <strong>Current fill/empty rate:</strong> <span id="brookside_rate_str">Unknown</span><br>
         <strong>Remaining time:</strong> <span id="brookside_remaining_time">Unknown</span><br>
         <strong>Raw distance to sap surface:</strong> <span id="brookside_sap_surface">Unknown</span>"<br>
         <strong>Sap depth:</strong> <span id="brookside_sap_depth">Unknown</span>"<br><br>


    <h2>Roadside</h2>
         <strong>Current volume:</strong> <span id="roadside_current_gallons">Unknown</span> gallons<br>
         <strong>Current fill/empty rate:</strong> <span id="roadside_rate_str">Unknown</span><br>
         <strong>Remaining time:</strong> <span id="roadside_remaining_time">Unknown</span><br>
         <strong>Raw distance to sap surface:</strong> <span id="roadside_sap_surface">Unknown</span>"<br>
         <strong>Sap depth:</strong> <span id="roadside_sap_depth">Unknown</span>"<br><br>


    <h2>Update rate calculation window</h2>
         <button style="background-color:rgb(142, 247, 142);" onclick="sendCommand('set_mins_back:-5')">-5 Mins</button>  
    <button style="background-color:rgb(142, 247, 142);" onclick="sendCommand('set_mins_back:+5')">+5 Mins</button><br><br>
    

    System time: <span id="system_time">Unknown</span><br><br>

    <!-- <form method="post" action="/logout">
        <button type="submit" style="background-color:orange;">Logout</button>
    </form> -->
    

</body>
</html>